<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Estudiante</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}" />
    <link rel="stylesheet" th:href="@{../../css/pp.css}" />
    <link rel="stylesheet" th:href="@{../../css/adminDashboard.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{../../css/popups.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{../../css/admin/verEstudiante.css}" />
</head>

<body th:class="${estudiante.estado} ? 'active' : 'inactive'">
    <header th:replace="~{plantillas/footer_header :: admin-header-agregar-estudiante}"></header>

    <div class="container">
        <h1 class="mt-5 mb-4" th:text="${estudiante.nombre} + ' ' + ${estudiante.apellidos}"></h1>
        <hr>
    </div>

    <div class="container rounded border border-secondary p-4">
        <div class="row">
            <div class="col-md-6 profile-info">
                <div>
                    <img th:src="${estudiante.fotoPerfil}" alt="Foto de perfil del estudiante">
                </div>
                <div class="personal-info">
                    <h2 th:text="${estudiante.nombre} + ' ' + ${estudiante.apellidos}"></h2>
                    <!-- el anchor esta vacio porque se agrega el svg desde css -->
                    <a th:href="@{/admin/editar-estudiante/{idEstudiante}(idEstudiante=${estudiante.idEstudiante})}"></a>
                    <p><strong>Identificacion:</strong> <span th:text="${estudiante.idEstudiante}"></span></p>
                    <p><strong>Correo:</strong> <span th:text="${estudiante.correo}"></span></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="resumen">
                    <h3>Resumen Académico</h3>
                    <div class="row">
                        <div class="col">
                            <div class="summary-item">
                                <span class="badge bg-secondary">0</span>
                                <p>Contactos</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="summary-item">
                                <span class="badge bg-secondary">0</span>
                                <p>Discusiones</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="summary-item">
                                <span class="badge bg-secondary">0</span>
                                <p>Certificados</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container text-end" th:if="${estudiante.estado}">
            <a class="btn btn-danger" th:href="@{/admin/cambiarEstado/{id}(id=${estudiante.getIdEstudiante()})}">Desactivar</a>
        </div>


        <div class="container text-end" th:if="${!estudiante.estado}">
            <!--Este boton todavia no sirve-->
            <button class="btn btn-secondary">Zona de Pagos</button>

            <a class="btn btn-success" th:href="@{/admin/cambiarEstado/{id}(id=${estudiante.getIdEstudiante()})}">Activar</a>
        </div>
    </div>


    <div th:replace="~{plantillas/popups :: popups}"></div>

    <footer th:replace="~{plantillas/footer_header :: footer}"></footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>