<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

    <head th:fragment="head">
        <title>Mensajería</title>
        <meta charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <header th:header="header" style="background-color: #010DBB">  
            <nav class="navbar bg-body-primay">
                <div class="container">
                    <a class="navbar-brand" href="#">
                        <img src="https://i.ibb.co/6rjfPpT/Imagen2.png" alt="Imagen2" border="0" width="140" height="70"/>
                    </a>
                    <ul class="nav align-items-start nav-underline">
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="color: white">Área personal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="color: white">Planes de estudio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="color: white">Preguntas frecuentes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="color: white">Contactar soporte de plataforma</a>
                        </li>
                    </ul> 
                    <p style="color: white">|</p>
                    <a class="navbar-brand justify-content-end" href="@{/mensaje/listado}">
                        <img src="https://i.ibb.co/qsBGhKZ/Imagen1.png" alt="Imagen1" border="0" width="30" height="30"/>
                    </a>
                    <p style="color: white">|</p>
                    <a class="navbar-brand justify-content-end" href="#">
                        <img src="https://www.webconsultas.com/sites/default/files/styles/wc_adaptive_image__small/public/articulos/perfil-resilencia.jpg" alt="" border="0" width="50" height="30"/>
                    </a>
                </div>
            </nav>
        </header> 
        <footer class="mt-3 p-2" th:footer="footer" style="background-color: #010DBB">
            <a>
                <img src="https://i.ibb.co/6rjfPpT/Imagen2.png" alt="Imagen2" border="0" width="60" height="30"/>
            </a>
        </footer>
    </body>
</html>
