<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

    <head th:replace="~{layout/plantilla :: head}">
        <title>Fidélitas</title>
    </head>

    <body>
        <div class="container" th:fragment="mensajeria" style="margin-top: 10px;">
            <div class="row">

                <!-- mostrar contactos -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h4>Contactos</h4>
                        </div>
                        <div th:if="${usuarios != null and not #lists.isEmpty(usuarios)}">
                            <table class="table table-striped table-hover" id="contactos-table">
                                <thead class="table-dark">
                                    <tr>
                                        <th>#</th>
                                        <th>Nombre Completo</th>
                                        <th>Correo electrónico</th>
                                        <th>Cargo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="usuario, contador : ${usuarios}">
                                        <td th:text="${contador.count}"></td>
                                        <td th:text="${usuario.nombre} + ' ' + ${usuario.apellidos}"></td>
                                        <td th:text="${usuario.correo}"></td>
                                        <td th:text="${usuario.cargo}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center p-2" th:if="${usuarios == null or #lists.isEmpty(usuarios)}">
                            <span>No hay contactos disponibles.</span>
                        </div>
                    </div>
                </div>

                <!-- Sección para escribir el correo -->
                <div class="col-md-6">
                    <section>
                        <form action="/enviarCorreo" method="post">
                            <div class="mb-3">
                                <label for="de" class="form-label fw-bold">DE:</label>
                                <input type="email" class="form-control" id="de" name="from" placeholder="name@example.com" />
                            </div>
                            <div class="mb-3">
                                <label for="para" class="form-label fw-bold">PARA:</label>
                                <input type="email" class="form-control" id="para" name="to" placeholder="name@example.com" />
                            </div>
                            <div class="mb-3">
                                <label for="asunto" class="form-label fw-bold">Asunto</label>
                                <select class="form-select" aria-label="Default select example" name="subject" id="subjectSelect">
                                    <option value="">¿A quién desea contactar?</option>
                                    <option>Administración</option>
                                    <option>Soporte técnico</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="contenido" class="form-label fw-bold">Contenido:</label>
                                <textarea class="form-control" id="contenido" name="body" rows="3"></textarea>
                            </div>
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <button class="btn btn-primary" type="submit" data-bs-toggle="modal" data-bs-target="#enviarCorreo">Enviar</button>
                            </div>
                        </form>
                    </section>
                </div>

            </div>
        </div>

        <!-- Ventana para confirmar que se envió el correo-->
        <div th:fragment="confirmacion" class="modal fade" id="enviarCorreo" tabindex="-1" aria-labelledby="enviarCorreoLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="enviarCorreoLabel">Correo enviado</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <div class="modal-body">
                        <p>El correo fue enviado exitosamente!</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Ventana modal para mostrar errores -->
        <div th:fragment="error" class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="errorModalLabel">Error</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <div class="modal-body">
                        <p th:text="${error}"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>



        <!-- Evento de clic a las filas de la tabla -->
        <script th:fragment="click">
            document.querySelectorAll('#contactos-table tbody tr').forEach(row => {
                row.addEventListener('click', () => {
                    // Se obtiene el correo electrónico de la fila
                    const correo = row.cells[2].innerText.trim();
                    // Se asigna el correo al campo "PARA"
                    document.getElementById('para').value = correo;
                });
            });
        </script>

        <!-- Para que el select haga la función de input -->
        <script th:fragment="toggle">
            document.getElementById("subjectSelect").addEventListener("change", function () {
                var selectedOption = this.options[this.selectedIndex];
                var inputValue = selectedOption.text;
                document.getElementById("asunto").value = inputValue;
            });
        </script>
    </body>
</html>
