<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es">

<head>
    <meta charset="UTF-8"/>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
    
    

    <link rel="stylesheet" th:href="@{/css/pp.css}"/>
</head>
    <body>    
                <div th:fragment="tabs" class="container mt-3">
                    <h1 th:text="${nombreCurso}"></h1>
                <ul class="nav nav-tabs tabs">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/clases/'+ ${clase.id}}">Introducción</a>
                    </li>
                    <li class="nav-item" th:each="semana : ${#numbers.sequence(1, 15)}">
                        <a class="nav-link " th:href="@{'/clases/' + ${clase.id} + '/semana/' + ${semana}}">Semana <span th:text="${semana}"></span></a>
                    </li>
                </ul>
                    <div class="img-container">
                        <br>
                    <img class="img-banner" src="/img/bannerClase.png" width="937" height="352" alt="Banner de Clases"/>
                    <div class="text-overlay"th:text="${nombreCurso}"></div>
                </div>
            </div>
        


    </body>
</html>
