<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
        <title>Página principal</title>
        <meta charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <header th:fragment="header">
            <nav>
                <a href="#"><img class="logo-img" src="img/logofideblanco.png" width="124" height="100" alt="Logo Fide"></a>
                <button class="nav-link" onclick="location.href = '#'">Area Personal</button>
                <button class="nav-link" onclick="location.href = '#'">Planes Estudio</button>
                <button class="nav-link" onclick="location.href = '#'">Preguntas Frecuentes</button>
                <button class="nav-link-plataforma" onclick="location.href = '#'">Contactar con soporte de plataforma</button>
                <a th:href="@{/zonapagos}">Zona de pagos</a>
                <a th:href="@{/mensaje/listado}">Mensajería</a>
            </nav>
        </header>

        <footer th:fragment="footer">
            <img class="logo-img" th:src="@{/logo_fide_blanco.png}" width="124" height="100" alt="Logo Fide">
                <div class="redes">
                    <a href="#"><img class="img-footer" th:src="@{img/facebook.png}" width="16" height="16" alt="facebook"></a>
                    <a href="#"><img class="img-footer" th:src="@{img/whatsapp.png}" width="16" height="16" alt="whatsapp"></a>
                    <a href="#"><img class="img-footer" th:src="@{img/twitter.png}" width="16" height="16" alt="twitter"></a>
                    <a href="#"><img class="img-footer" th:src="@{img/youtube.png}" width="16" height="16" alt="youtube"></a>
                    <a href="#"><img class="img-footer" th:src="@{img/tiktok.png}" width="16" height="16" alt="tiktok"></a>
                    <a href="#"><img class="img-footer" th:src="@{img/linkedin.png}" width="16" height="16" alt="linkedin"></a>
                </div>
                <a class="numero" href="#">+506 2206-8600</a>
        </footer>
    </body>
</html>
