<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:fragment="head">
    <title>Página principal</title>
    <meta charset="UTF-8" />
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet" />
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    
    <link rel="stylesheet" th:href="@{css/pp.css}" />
</head>

<body>
    <header th:fragment="header">
        <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
            <a class="navbar-brand" th:href="@{/paginaprincipal}">
                <img class="logo-img" src="/img/logofideblanco.png" width="124" height="100" alt="Logo Fide" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/paginaprincipal}">Area Personal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="https://ufidelitas.ac.cr/campanas/planes-completos/">Planes Estudio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Preguntas Frecuentes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contactar con soporte de plataforma</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" sec:authorize='hasRole("ROLE_ADMIN")'>
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuLink"
                                    data-bs-toggle="dropdown" aria-expanded="false">Apartado Administrador
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                                <li>
                                    <a class="dropdown-item" th:href="@{/admin/apartadoClases}">
                                        <img class="img-fluid" src="/img/clasesNav.png" width="16" height="16" alt="Mensajes Nav" style="margin-right: 5px;">
                                        Crear Clase
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" th:href="@{/admin/administrar-estudiantes}">
                                        <img class="img-fluid" src="/img/adminNav.png" width="16" height="16" alt="Mensajes Nav" style="margin-right: 5px;">
                                        Modificar Estudiante
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="true">
                                <img class="img-fluid" src="/img/perfil.png" width="20" height="20" alt="Perfil">
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                                <li>
                                    <a class="dropdown-item" th:href="@{/mensajeria}">
                                        <img class="img-fluid" src="/img/mensajesNav.png" width="16" height="16" alt="Mensajes Nav" style="margin-right: 5px;">
                                        Mensajes
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" th:href="@{/calendario}">
                                        <img class="img-fluid" src="/img/calendarNav.png" width="16" height="16" alt="Calendar Nav" style="margin-right: 5px;">
                                        Calendario
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" th:href="@{/zonaPagos}">
                                        <img class="img-fluid" src="/img/pagosNav.png" width="16" height="16" alt="Mensajes Nav" style="margin-right: 5px;">
                                        Zona Pagos
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" th:href="@{/login}">
                                        <img class="img-fluid" src="/img/cerrarNav.png" width="16" height="16" alt="Mensajes Nav" style="margin-right: 5px;">
                                        Cerrar Sesión
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                 <ul class="navbar-nav mr-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/notificaciones}">
                            <img class="img-fluid" src="/img/notificacionNav.png" width="20" height="20" alt="Notificaciones">
                        </a>
                    </li>
                </ul> 
            </div>
        </nav>
    </header>

        
    <footer class="bg-custom py-2 mt-auto" th:fragment="footer">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <img class="img-fluid" width="124" height="100" src="/img/logofideblanco.png" alt="Logo Fide">
                </div>
                <div class="col-md-6 text-center text-md-start mt-3 mt-md-0">
                    <div class="social-links">
                        <a href="https://www.facebook.com/ufidelitas/" target="_blank"><img class="img-fluid" src="/img/facebook.png" width="16" height="16" alt="Facebook"></a>
                        <a href="https://api.whatsapp.com/send/?phone=50686068600&text&app_absent=0" target="_blank"><img class="/img-fluid" src="/img/whatsapp.png" width="16" height="16" alt="Whatsapp"></a>
                        <a href="https://twitter.com/ufidelitas_cr" target="_blank"><img class="img-fluid" src="/img/twitter.png" width="16" height="16" alt="Twitter"></a>
                        <a href="https://www.youtube.com/@universidadfidelitas686" target="_blank"><img class="img-fluid" src="/img/youtube.png" width="16" height="16" alt="Youtube"></a>
                        <a href="https://www.tiktok.com/@ufidelitas" target="_blank"><img class="img-fluid" src="/img/tiktok.png" width="16" height="16" alt="Tiktok"></a>
                        <a href="https://www.linkedin.com/school/universidad-fid%C3%A9litas/" target="_blank"><img class="img-fluid" src="/img/linkedin.png" width="16" height="16" alt="Linkedin"></a>
                    </div>
                </div>
                <div class="col-md-3 text-center text-md-end mt-3 mt-md-0">
                    <a href="#" class="btn btn-outline-light">+506 2206-8600</a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>