/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 20, 2024, 8:16:24 PM
    Author     : manri
*/

.pagina-principal {
    margin: 0 auto; /* Centra la sección horizontalmente */
     width: 70%; /* Establece el ancho de la sección */
}