<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

    <head>
        <title>[[#{calendario.calendario}]]</title>
        <meta charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <link rel="stylesheet" th:href="@{/css/pp.css}"/>
        <link rel="stylesheet" th:href="@{/css/calendar.css}"/>
    </head>

    <body>
        <div class="container" th:fragment="calendario" style="margin-top: 10px">
            <div class="row">

                <!-- mostrar calendario -->
                <div class="col-md-6">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <table class="table table-bordered">
                                    <thead class="calendar-header">
                                        <tr>
                                            <th colspan="7">
                                                <h3 id="monthAndYear"></h3>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>[[#{calendarioFrag.domingo}]]</th>
                                            <th>[[#{calendarioFrag.lunes}]]</th>
                                            <th>[[#{calendarioFrag.martes}]]</th>
                                            <th>[[#{calendarioFrag.miercoles}]]</th>
                                            <th>[[#{calendarioFrag.jueves}]]</th>
                                            <th>[[#{calendarioFrag.viernes}]]</th>
                                            <th>[[#{calendarioFrag.sabado}]]</th>
                                        </tr>
                                    </thead>
                                    <tbody class="calendar-body" id="calendar-body">
                                        <!-- Los días del mes se agregarán aquí mediante JavaScript -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
                    <script>
                        $(document).ready(function () {
                            // Función para generar el calendario
                            function generateCalendar() {
                                let today = new Date();
                                let year = today.getFullYear();
                                let month = today.getMonth();
                                let firstDay = new Date(year, month, 1);
                                let startingDay = firstDay.getDay();
                                let monthAndYear = document.getElementById("monthAndYear");
                                let calendarBody = document.getElementById("calendar-body");

                                // Limpiamos el cuerpo del calendario
                                calendarBody.innerHTML = "";

                                // Establecemos el título del mes y el año
                                let months = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];
                                monthAndYear.innerHTML = months[month] + " " + year;

                                // Días de la semana
                                let daysOfWeek = ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"];

                                // Creamos las celdas para los días del mes
                                let date = 1;
                                for (let i = 0; i < 6; i++) {
                                    let row = document.createElement("tr");

                                    // Creamos celdas para cada día de la semana
                                    for (let j = 0; j < 7; j++) {
                                        if (i === 0 && j < startingDay) {
                                            let cell = document.createElement("td");
                                            cell.appendChild(document.createTextNode(""));
                                            row.appendChild(cell);
                                        } else if (date > daysInMonth(month, year)) {
                                            break;
                                        } else {
                                            let cell = document.createElement("td");
                                            cell.appendChild(document.createTextNode(date));
                                            row.appendChild(cell);
                                            date++;
                                        }
                                    }

                                    calendarBody.appendChild(row);
                                }
                            }

                            // Función para obtener el número de días en un mes
                            function daysInMonth(month, year) {
                                return 32 - new Date(year, month, 32).getDate();
                            }

                            // Generar el calendario al cargar la página
                            generateCalendar();
                        });
                    </script>
                </div>

                <!-- segunda columna -->
                <div class="col-md-6">
                    <!-- botón de agregar evento -->
                    <section th:fragment="botonAgregar" class="py-4 mb-4 bg-light">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3">   
                                    <button
                                        type="button" 
                                        class="btn btn-primary btn-block" 
                                        data-bs-toggle="modal" 
                                        data-bs-target="#agregarEvento">
                                        <i class="fas fa-plus"></i> [[#{calendarioFrag.agregar}]]
                                    </button>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- Agregar evento modal -->
                    <section th:fragment="agregarEvento">
                        <div id="agregarEvento" 
                             class="modal fade" 
                             tabindex="-1" 
                             aria-labelledby="exampleModalLabel" 
                             aria-hidden="true">
                            <div class="modal-dialog modal-md">
                                <div class="modal-content">
                                    <div class="modal-header bg-info text-white">
                                        <h5 class="modal-title">[[#{calendarioFrag.agregar}]]</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div> 
                                    <form th:action="@{/guardar}" th:object="${evento}"
                                          method="POST" class="was-validated">
                                        <div class="modal-body">
                                            <div class="mb-3">
                                                <label for="nombreEvento">[[#{calendarioFrag.nombre}]]</label>
                                                <input type="text" class="form-control" name="nombreEvento" required="true"/>
                                            </div>
                                            <div class="mb-3">
                                                <label for="descripcionEvento">[[#{calendarioFrag.descripcion}]]</label>
                                                <input type="text" class="form-control" name="descripcionEvento" required="true"/>
                                            </div>
                                            <div class="mb-3">
                                                <label for="fechaEvento">[[#{calendarioFrag.fecha}]]</label>
                                                <input type="date" class="form-control" name="fechaEvento" required="true"/>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-primary" type="submit">[[#{calendarioFrag.agregar}]]</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- mostrar eventos del mes -->
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4>[[#{calendarioFrag.eventos}]]</h4>
                                </div>
                            </div>
                        </div>
                        <div th:if="${eventos != null and not #lists.isEmpty(eventos)}">
                            <table class="table table-striped table-hover" id="eventos-table">
                                <thead class="table-dark">
                                    <tr>
                                        <th>[[#{calendarioFrag.nombre}]]</th>
                                        <th>[[#{calendarioFrag.fecha}]]</th>
                                        <th>[[#{calendarioFrag.descripcion}]]</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="evento : ${eventos}">
                                        <td th:text="${evento.nombreEvento}"></td>
                                        <td th:text="${evento.fechaEvento}"></td>
                                        <td th:text="${evento.descripcionEvento}"></td>
                                        <td>
                                            <a th:href="@{/eliminar/}+${evento.idEvento}" class="btn btn-danger">
                                                <i class="fas fa-trash"></i> 
                                            </a>
                                            <a th:href="@{/modificar/}+${evento.idEvento}" class="btn btn-success">
                                                <i class="fas fa-pencil"></i> 
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center p-2" th:if="${eventos == null or #lists.isEmpty(eventos)}">
                            <span>[[#{calendarioFrag.noEventos}]]</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 2 Fragmento que se utiliza en la página modifca.html -->
        <section th:fragment="editarEvento">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/guardar}" 
                          th:object="${evento}"
                          class="was-validated">
                        <input type="hidden" name="idEvento" th:field="*{idEvento}"/>
                        <section th:replace="~{fragmentosCalendario :: botonesEditar}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>[[#{txt.actualizar}]]</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="nombreEvento">[[#{calendarioFrag.nombre}]]</label>
                                                    <input type="text" class="form-control" name="nombreEvento" required="true"/>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="descripcionEvento">[[#{calendarioFrag.descripcion}]]</label>
                                                    <input type="text" class="form-control" name="descripcionEvento" required="true"/>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="fechaEvento">[[#{calendarioFrag.fecha}]]</label>
                                                    <input type="date" class="form-control" name="fechaEvento" required="true"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- 3 Fragmento que se utiliza en el fragmento anterior -->
        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4 bg-light">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/calendario}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> [[#{txt.regresar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/eliminar/}+${evento.idEvento}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i> [[#{txt.eliminar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> [[#{txt.guardar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>

    </body>
</html>