<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es">
<head>
    <title>Pagina Principal</title>

    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
   
    <link rel="stylesheet" th:href="@{css/pp.css}"/>
</head>
<body>
    <header th:replace="~{plantillas/footer_header :: header}">
        
    </header>

    <section class="pagina-principal">
        <h1>Area Personal</h1>
        <h2>Resumen Curso</h2>
        <a class= "apartado-clases" href="#">Todos</a>
        <a class= "apartado-clases" href="#">En progreso</a>
        <a class= "apartado-clases" href="#">Futuros</a>
        <a class= "apartado-clases" href="#">Pasados</a>
        <a class= "apartado-clases" href="#">Destacados</a>
        <a class= "apartado-clases" href="#">Eliminado de la vista</a>
        <hr>

        <!-- Aquí se mostrarán las tarjetas de cursos -->
        <div class="container">
            <div class="row">
                <!-- Itera sobre cada curso y muestra una tarjeta para cada uno -->
                <div class="col-md-4 mb-4" th:each="curso : ${cursos}">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${curso.nombreCurso}"></h5>
                            <p class="card-text">Horario: <span th:text="${curso.horario}"></span></p>
                            <p class="card-text">Fecha de Inicio: <span th:text="${curso.fechaInicio}"></span></p>
                            <p class="card-text">Fecha de Fin: <span th:text="${curso.fechaFin}"></span></p>
                            <button class="btn btn-primary mt-3" onclick="entrarAClase()">Entrar a la clase</button>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer th:replace="~{plantillas/footer_header :: footer}"/>
</body>
</html>
