<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="~{plantillas/footer_header :: head}">
</head>
<body>
    <header th:replace="~{plantillas/footer_header :: header}">
    </header>

    <section>
        <h1>Area Personal</h1>
        <h2>Resumen Curso</h2>
        <a class= "apartado-clases" href="#">Todos</a>
        <a class= "apartado-clases" href="#">En progreso</a>
        <a class= "apartado-clases" href="#">Futuros</a>
        <a class= "apartado-clases" href="#">Pasados</a>
        <a class= "apartado-clases" href="#">Destacados</a>
        <a class= "apartado-clases" href="#">Eliminado de la vista</a>
    </section>

    <footer th:replace="~{plantillas/footer_header :: footer}"/>
</body>
</html>
