<!DOCTYPE html>

<head>
    
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/pp.css}"/>
    <link rel="stylesheet" th:href="@{/css/introduccion.css}"/>
</head>

    <header th:replace="~{plantillas/footer_header :: header}"/>
    <div th:switch="${numeroSemana}">
        <div th:case="1">
            <div class="container-fluid">
            <div class="row">
                <div th:replace="~{plantillas/cursoplantilla :: tabs}"/>
                    <div class="col-md-9 custom-box">
                        <img class="img-banner" src="/img/materialesDeAprendizaje.png" width="276" height="52" alt="alt"/>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <div th:case="2">
            <div class="container-fluid">
            <div class="row">
                <div th:replace="~{plantillas/cursoplantilla :: tabs}"/>
                    <div class="col-md-9 custom-box">
                        <img class="img-banner" src="/img/materialesDeAprendizaje.png" width="276" height="52" alt="alt"/>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <div th:case="3">
            <div class="container-fluid">
            <div class="row">
                <div th:replace="~{plantillas/cursoplantilla :: tabs}"/>
                    <div class="col-md-9 custom-box">
                        <img class="img-banner" src="/img/materialesDeAprendizaje.png" width="276" height="52" alt="alt"/>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <div th:case="4">
            <div class="container-fluid">
            <div class="row">
                <div th:replace="~{plantillas/cursoplantilla :: tabs}"/>
                    <div class="col-md-9 custom-box">
                        <img class="img-banner" src="/img/materialesDeAprendizaje.png" width="276" height="52" alt="alt"/>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <div th:case="5">
            <div class="container-fluid">
            <div class="row">
                <div th:replace="~{plantillas/cursoplantilla :: tabs}"/>
                    <div class="col-md-9 custom-box">
                        <img class="img-banner" src="/img/materialesDeAprendizaje.png" width="276" height="52" alt="alt"/>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <div th:case="6">
            <div class="container-fluid">
            <div class="row">
                <div th:replace="~{plantillas/cursoplantilla :: tabs}"/>
                    <div class="col-md-9 custom-box">
                        <img class="img-banner" src="/img/materialesDeAprendizaje.png" width="276" height="52" alt="alt"/>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <div th:case="7">
            <div class="container-fluid">
            <div class="row">
                <div th:replace="~{plantillas/cursoplantilla :: tabs}"/>
                    <div class="col-md-9 custom-box">
                        <img class="img-banner" src="/img/materialesDeAprendizaje.png" width="276" height="52" alt="alt"/>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <div th:case="8">
            <div class="container-fluid">
            <div class="row">
                <div th:replace="~{plantillas/cursoplantilla :: tabs}"/>
                    <div class="col-md-9 custom-box">
                        <img class="img-banner" src="/img/materialesDeAprendizaje.png" width="276" height="52" alt="alt"/>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <div th:case="9">
           <div class="container-fluid">
            <div class="row">
                <div th:replace="~{plantillas/cursoplantilla :: tabs}"/>
                    <div class="col-md-9 custom-box">
                        <img class="img-banner" src="/img/materialesDeAprendizaje.png" width="276" height="52" alt="alt"/>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <div th:case="10">
           <div class="container-fluid">
            <div class="row">
                <div th:replace="~{plantillas/cursoplantilla :: tabs}"/>
                    <div class="col-md-9 custom-box">
                        <img class="img-banner" src="/img/materialesDeAprendizaje.png" width="276" height="52" alt="alt"/>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <div th:case="11">
            <div class="container-fluid">
            <div class="row">
                <div th:replace="~{plantillas/cursoplantilla :: tabs}"/>
                    <div class="col-md-9 custom-box">
                        <img class="img-banner" src="/img/materialesDeAprendizaje.png" width="276" height="52" alt="alt"/>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <div th:case="12">
            <div class="container-fluid">
            <div class="row">
                <div th:replace="~{plantillas/cursoplantilla :: tabs}"/>
                    <div class="col-md-9 custom-box">
                        <img class="img-banner" src="/img/materialesDeAprendizaje.png" width="276" height="52" alt="alt"/>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <div th:case="13">
            <div class="container-fluid">
            <div class="row">
                <div th:replace="~{plantillas/cursoplantilla :: tabs}"/>
                    <div class="col-md-9 custom-box">
                        <img class="img-banner" src="/img/materialesDeAprendizaje.png" width="276" height="52" alt="alt"/>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <div th:case="14">
            <div class="container-fluid">
            <div class="row">
                <div th:replace="~{plantillas/cursoplantilla :: tabs}"/>
                    <div class="col-md-9 custom-box">
                        <img class="img-banner" src="/img/materialesDeAprendizaje.png" width="276" height="52" alt="alt"/>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <div th:case="15">
            <div class="container-fluid">
            <div class="row">
                <div th:replace="~{plantillas/cursoplantilla :: tabs}"/>
                    <div class="col-md-9 custom-box">
                        <img class="img-banner" src="/img/materialesDeAprendizaje.png" width="276" height="52" alt="alt"/>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <footer th:replace="~{plantillas/footer_header :: footer}"/>


