<!DOCTYPE html>

<head>
    
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/pp.css}"/>
    <link rel="stylesheet" th:href="@{/css/introduccion.css}"/>
</head>
<body>
    <header th:replace="~{plantillas/footer_header :: header}"></header>
    <div class="col-md-9 custom-box">
    <div th:switch="${numeroSemana}">
        <div th:case="1">
            <div class="container-fluid">
            <div class="row">
                <div th:replace="~{plantillas/cursoplantilla :: tabs}"/>
                    <div class="col-md-9 custom-box">
                        <br>
                        <img class="img-banner" src="/img/materialesDeAprendizaje.png" width="276" height="52" alt="materiales-de-aprendizaje"/>
                        <br><br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">Unidad Semana 1</a>
                                </h4>
                            </div>
                          </div>
                        <br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">GEN-01-Confirmación Lectura PC</a>
                                </h4>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:case="2">
            <div class="container-fluid">
            <div class="row">
                <div th:replace="~{plantillas/cursoplantilla :: tabs}"/>
                    <div class="col-md-9 custom-box">
                        <br>
                        <img class="img-banner" src="/img/materialesDeAprendizaje.png" width="276" height="52" alt="materiales-de-aprendizaje"/>
                        <br><br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">Unidad Semana 2</a>
                                </h4>
                            </div>
                          </div>
                        <br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">GEN-02-Confirmación Lectura PC</a>
                                </h4>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:case="3">
            <div class="container-fluid">
            <div class="row">
                <div th:replace="~{plantillas/cursoplantilla :: tabs}"/>
                    <div class="col-md-9 custom-box">
                        <br>
                        <img class="img-banner" src="/img/materialesDeAprendizaje.png" width="276" height="52" alt="materiales-de-aprendizaje"/>
                        <br><br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">Unidad Semana 3</a>
                                </h4>
                            </div>
                          </div>
                        <br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">GEN-03-Confirmación Lectura PC</a>
                                </h4>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:case="4">
            <div class="container-fluid">
            <div class="row">
                <div th:replace="~{plantillas/cursoplantilla :: tabs}"/>
                    <div class="col-md-9 custom-box">
                        <br>
                        <img class="img-banner" src="/img/materialesDeAprendizaje.png" width="276" height="52" alt="materiales-de-aprendizaje"/>
                        <br><br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">Unidad Semana 4</a>
                                </h4>
                            </div>
                          </div>
                        <br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">GEN-04-Confirmación Lectura PC</a>
                                </h4>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:case="5">
            <div class="container-fluid">
            <div class="row">
                <div th:replace="~{plantillas/cursoplantilla :: tabs}"/>
                    <div class="col-md-9 custom-box">
                        <br>
                        <img class="img-banner" src="/img/materialesDeAprendizaje.png" width="276" height="52" alt="materiales-de-aprendizaje"/>
                        <br><br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">Unidad Semana 5</a>
                                </h4>
                            </div>
                          </div>
                        <br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">GEN-05-Confirmación Lectura PC</a>
                                </h4>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:case="6">
            <div class="container-fluid">
            <div class="row">
                <div th:replace="~{plantillas/cursoplantilla :: tabs}"/>
                    <div class="col-md-9 custom-box">
                        <br>
                        <img class="img-banner" src="/img/materialesDeAprendizaje.png" width="276" height="52" alt="materiales-de-aprendizaje"/>
                        <br><br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">Unidad Semana 6</a>
                                </h4>
                            </div>
                          </div>
                        <br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">GEN-06-Confirmación Lectura PC</a>
                                </h4>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:case="7">
            <div class="container-fluid">
            <div class="row">
                <div th:replace="~{plantillas/cursoplantilla :: tabs}"/>
                    <div class="col-md-9 custom-box">
                        <br>
                        <img class="img-banner" src="/img/materialesDeAprendizaje.png" width="276" height="52" alt="materiales-de-aprendizaje"/>
                        <br><br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">Unidad Semana 7</a>
                                </h4>
                            </div>
                          </div>
                        <br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">GEN-07-Confirmación Lectura PC</a>
                                </h4>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:case="8">
            <div class="container-fluid">
            <div class="row">
                <div th:replace="~{plantillas/cursoplantilla :: tabs}"/>
                    <div class="col-md-9 custom-box">
                        <br>
                        <img class="img-banner" src="/img/materialesDeAprendizaje.png" width="276" height="52" alt="materiales-de-aprendizaje"/>
                        <br><br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">Unidad Semana 8</a>
                                </h4>
                            </div>
                          </div>
                        <br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">GEN-08-Confirmación Lectura PC</a>
                                </h4>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:case="9">
           <div class="container-fluid">
            <div class="row">
                <div th:replace="~{plantillas/cursoplantilla :: tabs}"/>
                    <div class="col-md-9 custom-box">
                        <br>
                        <img class="img-banner" src="/img/materialesDeAprendizaje.png" width="276" height="52" alt="materiales-de-aprendizaje"/>
                        <br><br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">Unidad Semana 9</a>
                                </h4>
                            </div>
                          </div>
                        <br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">GEN-09-Confirmación Lectura PC</a>
                                </h4>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:case="10">
           <div class="container-fluid">
            <div class="row">
                <div th:replace="~{plantillas/cursoplantilla :: tabs}"/>
                    <div class="col-md-9 custom-box">
                        <br>
                        <img class="img-banner" src="/img/materialesDeAprendizaje.png" width="276" height="52" alt="materiales-de-aprendizaje"/>
                        <br><br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">Unidad Semana 10</a>
                                </h4>
                            </div>
                          </div>
                        <br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">GEN-10-Confirmación Lectura PC</a>
                                </h4>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:case="11">
            <div class="container-fluid">
            <div class="row">
                <div th:replace="~{plantillas/cursoplantilla :: tabs}"/>
                    <div class="col-md-9 custom-box">
                        <br>
                        <img class="img-banner" src="/img/materialesDeAprendizaje.png" width="276" height="52" alt="materiales-de-aprendizaje"/>
                        <br><br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">Unidad Semana 11</a>
                                </h4>
                            </div>
                          </div>
                        <br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">GEN-11-Confirmación Lectura PC</a>
                                </h4>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:case="12">
            <div class="container-fluid">
            <div class="row">
                <div th:replace="~{plantillas/cursoplantilla :: tabs}"/>
                    <div class="col-md-9 custom-box">
                        <br>
                        <img class="img-banner" src="/img/materialesDeAprendizaje.png" width="276" height="52" alt="materiales-de-aprendizaje"/>
                        <br><br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">Unidad Semana 12</a>
                                </h4>
                            </div>
                          </div>
                        <br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">GEN-12-Confirmación Lectura PC</a>
                                </h4>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:case="13">
            <div class="container-fluid">
            <div class="row">
                <div th:replace="~{plantillas/cursoplantilla :: tabs}"/>
                    <div class="col-md-9 custom-box">
                        <br>
                        <img class="img-banner" src="/img/materialesDeAprendizaje.png" width="276" height="52" alt="materiales-de-aprendizaje"/>
                        <br><br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">Unidad Semana 13</a>
                                </h4>
                            </div>
                          </div>
                        <br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">GEN-13-Confirmación Lectura PC</a>
                                </h4>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:case="14">
            <div class="container-fluid">
            <div class="row">
                <div th:replace="~{plantillas/cursoplantilla :: tabs}"/>
                    <div class="col-md-9 custom-box">
                        <br>
                        <img class="img-banner" src="/img/materialesDeAprendizaje.png" width="276" height="52" alt="materiales-de-aprendizaje"/>
                        <br><br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">Unidad Semana 14</a>
                                </h4>
                            </div>
                          </div>
                        <br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">GEN-14-Confirmación Lectura PC</a>
                                </h4>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:case="15">
            <div class="container-fluid">
            <div class="row">
                <div th:replace="~{plantillas/cursoplantilla :: tabs}"/>
                    <div class="col-md-9 custom-box">
                        <br>
                        <img class="img-banner" src="/img/materialesDeAprendizaje.png" width="276" height="52" alt="materiales-de-aprendizaje"/>
                        <br><br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">Unidad Semana 15</a>
                                </h4>
                            </div>
                          </div>
                        <br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">GEN-15-Confirmación Lectura PC</a>
                                </h4>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>

    <footer th:replace="~{plantillas/footer_header :: footer}"/>


    </body>
</html>