<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title th:text="'Semana ' + ${numeroSemana}"></title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/pp.css}"/>
    <link rel="stylesheet" th:href="@{/css/introduccion.css}"/>
</head>
<body>
    <header th:replace="~{plantillas/footer_header :: header}"></header>
    <div class="col-md-9 custom-box">
    <div th:switch="${numeroSemana}">
        <div th:case="1">
            <div class="container-fluid">
            <div class="row">
                <div th:replace="~{cursoplantilla :: tabs}"/>
                    <div class="col-md-9 custom-box">
                        <br>
                        <img class="img-banner" src="/img/materialesDeAprendizaje.png" width="276" height="52" alt="materiales-de-aprendizaje"/>
                        <br><br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">[[#{semana.sem1}]]</a>
                                </h4>
                            </div>
                          </div>
                        <br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">[[#{semana.confir1}]]</a>
                                </h4>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:case="2">
            <div class="container-fluid">
            <div class="row">
                <div th:replace="~{cursoplantilla :: tabs}"/>
                    <div class="col-md-9 custom-box">
                        <br>
                        <img class="img-banner" src="/img/materialesDeAprendizaje.png" width="276" height="52" alt="materiales-de-aprendizaje"/>
                        <br><br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">[[#{semana.sem2}]]</a>
                                </h4>
                            </div>
                          </div>
                        <br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">[[#{semana.confir2}]]</a>
                                </h4>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:case="3">
            <div class="container-fluid">
            <div class="row">
                <div th:replace="~{cursoplantilla :: tabs}"/>
                    <div class="col-md-9 custom-box">
                        <br>
                        <img class="img-banner" src="/img/materialesDeAprendizaje.png" width="276" height="52" alt="materiales-de-aprendizaje"/>
                        <br><br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">[[#{semana.sem3}]]</a>
                                </h4>
                            </div>
                          </div>
                        <br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">[[#{semana.confir3}]]</a>
                                </h4>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:case="4">
            <div class="container-fluid">
            <div class="row">
                <div th:replace="~{cursoplantilla :: tabs}"/>
                    <div class="col-md-9 custom-box">
                        <br>
                        <img class="img-banner" src="/img/materialesDeAprendizaje.png" width="276" height="52" alt="materiales-de-aprendizaje"/>
                        <br><br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">[[#{semana.sem4}]]</a>
                                </h4>
                            </div>
                          </div>
                        <br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">[[#{semana.confir4}]]</a>
                                </h4>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:case="5">
            <div class="container-fluid">
            <div class="row">
                <div th:replace="~{cursoplantilla :: tabs}"/>
                    <div class="col-md-9 custom-box">
                        <br>
                        <img class="img-banner" src="/img/materialesDeAprendizaje.png" width="276" height="52" alt="materiales-de-aprendizaje"/>
                        <br><br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">[[#{semana.sem5}]]</a>
                                </h4>
                            </div>
                          </div>
                        <br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">[[#{semana.confir5}]]</a>
                                </h4>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:case="6">
            <div class="container-fluid">
            <div class="row">
                <div th:replace="~{cursoplantilla :: tabs}"/>
                    <div class="col-md-9 custom-box">
                        <br>
                        <img class="img-banner" src="/img/materialesDeAprendizaje.png" width="276" height="52" alt="materiales-de-aprendizaje"/>
                        <br><br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">[[#{semana.sem6}]]</a>
                                </h4>
                            </div>
                          </div>
                        <br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">[[#{semana.confir6}]]</a>
                                </h4>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:case="7">
            <div class="container-fluid">
            <div class="row">
                <div th:replace="~{cursoplantilla :: tabs}"/>
                    <div class="col-md-9 custom-box">
                        <br>
                        <img class="img-banner" src="/img/materialesDeAprendizaje.png" width="276" height="52" alt="materiales-de-aprendizaje"/>
                        <br><br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">[[#{semana.sem7}]]</a>
                                </h4>
                            </div>
                          </div>
                        <br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">[[#{semana.confir7}]]</a>
                                </h4>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:case="8">
            <div class="container-fluid">
            <div class="row">
                <div th:replace="~{cursoplantilla :: tabs}"/>
                    <div class="col-md-9 custom-box">
                        <br>
                        <img class="img-banner" src="/img/materialesDeAprendizaje.png" width="276" height="52" alt="materiales-de-aprendizaje"/>
                        <br><br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">[[#{semana.sem8}]]</a>
                                </h4>
                            </div>
                          </div>
                        <br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">[[#{semana.confir8}]]</a>
                                </h4>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:case="9">
           <div class="container-fluid">
            <div class="row">
                <div th:replace="~{cursoplantilla :: tabs}"/>
                    <div class="col-md-9 custom-box">
                        <br>
                        <img class="img-banner" src="/img/materialesDeAprendizaje.png" width="276" height="52" alt="materiales-de-aprendizaje"/>
                        <br><br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">[[#{semana.sem9}]]</a>
                                </h4>
                            </div>
                          </div>
                        <br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">[[#{semana.confir9}]]</a>
                                </h4>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:case="10">
           <div class="container-fluid">
            <div class="row">
                <div th:replace="~{cursoplantilla :: tabs}"/>
                    <div class="col-md-9 custom-box">
                        <br>
                        <img class="img-banner" src="/img/materialesDeAprendizaje.png" width="276" height="52" alt="materiales-de-aprendizaje"/>
                        <br><br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">[[#{semana.sem10}]]</a>
                                </h4>
                            </div>
                          </div>
                        <br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">[[#{semana.confir10}]]</a>
                                </h4>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:case="11">
            <div class="container-fluid">
            <div class="row">
                <div th:replace="~{cursoplantilla :: tabs}"/>
                    <div class="col-md-9 custom-box">
                        <br>
                        <img class="img-banner" src="/img/materialesDeAprendizaje.png" width="276" height="52" alt="materiales-de-aprendizaje"/>
                        <br><br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">[[#{semana.sem11}]]</a>
                                </h4>
                            </div>
                          </div>
                        <br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">[[#{semana.confir11}]]</a>
                                </h4>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:case="12">
            <div class="container-fluid">
            <div class="row">
                <div th:replace="~{cursoplantilla :: tabs}"/>
                    <div class="col-md-9 custom-box">
                        <br>
                        <img class="img-banner" src="/img/materialesDeAprendizaje.png" width="276" height="52" alt="materiales-de-aprendizaje"/>
                        <br><br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">[[#{semana.sem12}]]</a>
                                </h4>
                            </div>
                          </div>
                        <br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">[[#{semana.confir12}]]</a>
                                </h4>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:case="13">
            <div class="container-fluid">
            <div class="row">
                <div th:replace="~{cursoplantilla :: tabs}"/>
                    <div class="col-md-9 custom-box">
                        <br>
                        <img class="img-banner" src="/img/materialesDeAprendizaje.png" width="276" height="52" alt="materiales-de-aprendizaje"/>
                        <br><br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">[[#{semana.sem13}]]</a>
                                </h4>
                            </div>
                          </div>
                        <br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">[[#{semana.confir13}]]</a>
                                </h4>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:case="14">
            <div class="container-fluid">
            <div class="row">
                <div th:replace="~{cursoplantilla :: tabs}"/>
                    <div class="col-md-9 custom-box">
                        <br>
                        <img class="img-banner" src="/img/materialesDeAprendizaje.png" width="276" height="52" alt="materiales-de-aprendizaje"/>
                        <br><br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">[[#{semana.sem14}]]</a>
                                </h4>
                            </div>
                          </div>
                        <br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">[[#{semana.confir14}]]</a>
                                </h4>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:case="15">
            <div class="container-fluid">
            <div class="row">
                <div th:replace="~{cursoplantilla :: tabs}"/>
                    <div class="col-md-9 custom-box">
                        <br>
                        <img class="img-banner" src="/img/materialesDeAprendizaje.png" width="276" height="52" alt="materiales-de-aprendizaje"/>
                        <br><br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">[[#{semana.sem15}]]</a>
                                </h4>
                            </div>
                          </div>
                        <br>
                        <div class="card w-100">
                            <div class="card-body">
                                <h4>
                                    <img class="logo-items" src="/img/archivo.png" width="32" height="32" alt="archivo"/>
                                    <a href="#"class="item-semana">[[#{semana.confir15}]]</a>
                                </h4>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>

    <footer th:replace="~{plantillas/footer_header :: footer}"/>


    </body>
</html>