<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
    <head th:replace="~{plantillas/footer_header :: head}">
    </head>
    <body>
        <div style="background-color: rgb(26, 48, 124); color: white; padding: 20px; display: flex; justify-content: space-between; align-items: center;">
            <img class="img-fluid" width="124" height="100" src="img/logofideblanco.png" alt="Logo Fide">
            <button id="btnRegresar" style="font-size: 30px; background-color: rgb(26, 48, 124);">&lt;&lt;&lt;</button>
        </div>
        <h1>Zona De Pagos</h1>
        <section id="zonaPagos">
            <div class="container">
                <div class="profile-circle"><img src="img/perfil.png" alt="Foto de perfil" />&nbsp;</div>
                <div class="profile-circle">&nbsp;</div>
                <div class="profile-circle" style="padding-left: 120px;">Nombre del estudiante</div>
                <div class="profile-circle" style="padding-left: 120px;"><br />Nombre de la carrera</div>
                <div class="profile-circle" style="padding-left: 120px;"><br />N&uacute;mero del cuatrimestre</div>
                <div class="cuadro-redondeado">
                    <p class="saldo" style="text-align: right;">Saldo del Pagare<br />$600,000.00</p>
                    <p class="saldo" style="text-align: right;">&nbsp;</p>
                </div>
                <div class="buttons" style="text-align: right;"><button id="verEstadoCuenta">Ver mi estado de cuenta</button></div>
                <div class="buttons" style="text-align: right;">&nbsp;</div>
                <div class="buttons" style="text-align: right;"><button id="pagoColegiatura">Pago de colegiatura</button></div>
            </div>
        </section>

        <section th:fragment="formulario" id="formulario" style="display: none; overflow-y: auto;">
            <div class="container">
                <form th:action="@{/zonaPagos/formularioPago}" method="POST" class="was-validated">
                    <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                        <div style="flex: 1; margin-right: 10px;">
                            <div class="mb-3">
                                <label for="banco">Banco Perteneciente</label>
                                <input type="text" class="form-control" name="banco" size="30" required="true"/>
                            </div>
                            <div class="mb-3">
                                <label for="numeroTarjeta">Numero de Tarjeta</label>
                                <input type="text" class="form-control" name="numeroTarjeta" placeholder="0000 0000 0000 0000" size="16" required="true"/>
                            </div>
                            <div class="mb-3">
                                <label for="fechaVencimiento">Fecha de Vencimiento</label>
                                <input type="text" class="form-control" name="fechaVencimiento" placeholder="00/00" size="5" required="true"/>
                            </div>
                        </div>
                        <div style="flex: 1;">
                            <div class="mb-3">
                                <label for="tipoTarjeta">Tipo de Tarjeta</label>
                                <select class="form-select" name="tipoTarjeta">
                                    <option value="Credito">Credito</option>
                                    <option value="Debito">Debito</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="pin">Pin de Seguridad</label>
                                <input type="text" class="form-control" name="pin" placeholder="000" size="3" required="true"/>
                            </div>
                            <div class="mb-3">
                                <label for="metodoPago">Método de Pago</label>
                                <select class="form-select" name="metodoPago">
                                    <option value="Pagaré">Pagaré</option>
                                    <option value="Contado">Contado</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="boton-modal" style="text-align: right;">
                        <button type="button" id="realizarPago" class="btn realizarPago">Realizar Pago</button>
                    </div>
                </form>
            </div>
        </section>

        <!-- Modal para datos inválidos -->
        <div id="datosInvalidos" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>DATOS INVÁLIDOS</h2>
                <p>Por favor, revise que todos los campos se encuentren con la información correspondiente, igualmente recuerde no dejar espacios en blanco</p>
                <div class="btn-cerrar" style="text-align: right;">
                    <button id="cerrarModal">Revisar Datos</button>
                </div>
            </div>
        </div>

        <!-- Modal para pago realizado con éxito -->
        <div id="pagoExitosoModal" class="modal" style="display: none;">
            <div class="modal-content">
                <h2>PAGO REALIZADO CON ÉXITO</h2>
                <p>Por favor, revise tu correo registrado en tu perfil, hemos enviado un correo electrónico con la factura del pago de la colegiatura.</p>
                <div style="text-align: center;">
                    <button id="continuarBtn" class="btn continuarBtn">Continuar</button>
                </div>
            </div>
        </div>

        <section th:fragment="estadoCuenta" id="estadoCuenta" style="display: none; overflow-y: auto;">
            <div class="container">
                <div><img src="img/perfil.png" alt="Foto de perfil" />&nbsp;Nombre del estudiante</div>
                <div>
                    <p style="padding-left: 80px;">Pr&oacute;ximo pago a realizar<br />$120,000.00</p>
                    <p style="padding-left: 80px;">&nbsp;</p>
                </div>
                <div style="padding-left: 40px;">
                    <p style="padding-left: 40px;">&Uacute;ltimos pagos realizados<br />$120,000.00</p>
                    <p style="padding-left: 40px;"><br />$120,000.00</p>
                    <p style="padding-left: 40px;"><br />$130,000.00</p>
                </div>
            </div>
        </section>
        <footer th:replace="~{plantillas/footer_header :: footer}"/>

        <script>
            var modal = document.getElementById("datosInvalidos");
            var btn = document.getElementById("realizarPago");
            var span = document.getElementsByClassName("close")[0];
            var btnCerrarModal = document.getElementById("cerrarModal");

            document.getElementById("pagoColegiatura").onclick = function () {
                document.getElementById("zonaPagos").style.display = "none";
                document.getElementById("formulario").style.display = "block";
                document.getElementById("estadoCuenta").style.display = "none";
            };

            document.getElementById("btnRegresar").onclick = function () {
                document.getElementById("zonaPagos").style.display = "block";
                document.getElementById("formulario").style.display = "none";
            };

            btn.onclick = function () {
                var camposVacios = false;
                var campos = document.querySelectorAll('.form-control');
                campos.forEach(function (campo) {
                    if (campo.value.trim() === '') {
                        camposVacios = true;
                        return;
                    }
                });

                if (camposVacios) {
                    modal.style.display = "block";
                } else {
                    // falta
                    document.getElementById("pagoExitosoModal").style.display = "block";
                }
            }

            span.onclick = function () {
                modal.style.display = "none";
            }

            btnCerrarModal.onclick = function () {
                modal.style.display = "none";
            }

            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }

            document.getElementById("continuarBtn").onclick = function () {
                document.getElementById("pagoExitosoModal").style.display = "none"; 
                document.getElementById("zonaPagos").style.display = "block"; 
                document.getElementById("formulario").style.display = "none"; 
                document.getElementById("estadoCuenta").style.display = "none"; 
            };

            // Función para mostrar el estado de cuenta
            document.getElementById("verEstadoCuenta").onclick = function () {
                document.getElementById("zonaPagos").style.display = "none"; 
                document.getElementById("formulario").style.display = "none"; 
                document.getElementById("estadoCuenta").style.display = "block"; 
            };
        </script>

    </body>
</html>