<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>Zona De Pagos</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet" />
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/pp.css}" />
    <link rel="stylesheet" th:href="@{/css/introduccion.css}" />
    <link rel="stylesheet" th:href="@{/css/popups.css}" />
</head>
<style>
    .profile-info {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .profile-info img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 20px;
    }
</style>

<body>
    <header th:replace="~{plantillas/footer_header :: header}"></header>
    <div
        style="background-color: whitesmoke; color: black; padding: 30px; display: flex; justify-content: space-between; align-items: center;">
        <h2>Zona De Pagos</h2>
    </div>
    <section style="background-color: rgb(217, 217, 217);
                 width: 1000px;
                 height: auto;
                 border: 3px solid rgb(217, 217, 217);
                 border-radius: 22px;
                 padding: 20px;
                 margin: auto;
                 display: flex;
                 flex-direction: column;" id="zonaPagos">
        <div class="container" style="display: flex; align-items: center;">
            <div class="col-md-6 profile-info">
                <div>
                    <img th:src="${estudiante.fotoPerfil}" alt="Foto de perfil del estudiante">
                </div>
                <div class="personal-info">
                    <h2 th:text="${estudiante.nombre} + ' ' + ${estudiante.apellidos}"></h2>
                    <!-- el anchor esta vacio porque se agrega el svg desde css -->
                    <p><strong>Identificacion:</strong> <span th:text="${estudiante.idEstudiante}"></span></p>
                    <p><strong>Correo:</strong> <span th:text="${estudiante.correo}"></span></p>
                </div>
            </div>
            <div style="margin-left: auto; padding: 10px; border: 3px solid #b4b4b4; border-radius: 10px;">
                <div>Saldo del Pagare</div>
                <div style="text-align: center">$600,000.00</div>
            </div>
        </div>
        <div style="text-align: right;">&nbsp;</div>
        <div style="text-align: right;">&nbsp;</div>
        <div style="text-align: right;"><button id="verEstadoCuenta"
                style="background-color: #b4b4b4; border-radius: 10px; color: black;">Ver estado de cuenta</button>
        </div>
        <div style="text-align: right;">&nbsp;</div>
        <div style="text-align: right;">&nbsp;</div>
        <div style="text-align: right;"><button id="pagoColegiatura"
                style="background-color: #b4b4b4; border-radius: 10px; color: black;">Pago de colegiatura</button></div>
    </section>

    <!-- Contenedor del formulario -->
    <section th:fragment="formulario" id="formulario" style="background-color: rgb(217, 217, 217);
                 width: 1000px;
                 height: auto;
                 border: 3px solid rgb(217, 217, 217);
                 border-radius: 22px;
                 padding: 20px;
                 margin: auto;
                 display: none;
                 flex-direction: column;">
        <div class="container">
            <form th:action="@{/zonaPagos/formularioPago}" method="POST" class="was-validated">
                <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                    <div style="flex: 1; margin-right: 10px;">
                        <div class="mb-3">
                            <label for="banco">Banco Perteneciente</label>
                            <input type="text" class="form-control" id="banco" name="banco" size="30" required />
                            <div class="invalid-feedback">Por favor ingresa el nombre del banco.</div>
                        </div>
                        <div class="mb-3">
                            <label for="numeroTarjeta">Número de Tarjeta</label>
                            <input type="text" class="form-control" id="numeroTarjeta" name="numeroTarjeta"
                                placeholder="0000 0000 0000 0000" size="16" required />
                            <div class="invalid-feedback">Por favor ingresa un número de tarjeta válido.</div>
                        </div>
                        <div class="mb-3">
                            <label for="fechaVencimiento">Fecha de Vencimiento</label>
                            <input type="text" class="form-control" id="fechaVencimiento" name="fechaVencimiento"
                                placeholder="00/00" size="5" required />
                            <div class="invalid-feedback">Por favor ingresa una fecha de vencimiento válida.</div>
                        </div>
                    </div>
                    <div style="flex: 1;">
                        <div class="mb-3">
                            <label for="tipoTarjeta">Tipo de Tarjeta</label>
                            <select class="form-select" id="tipoTarjeta" name="tipoTarjeta" required>
                                <option value="">Selecciona...</option>
                                <option value="Credito">Crédito</option>
                                <option value="Debito">Débito</option>
                            </select>
                            <div class="invalid-feedback">Por favor selecciona el tipo de tarjeta.</div>
                        </div>
                        <div class="mb-3">
                            <label for="pin">Pin de Seguridad</label>
                            <input type="text" class="form-control" id="pin" name="pin" placeholder="000" size="3"
                                required />
                            <div class="invalid-feedback">Por favor ingresa el pin de seguridad.</div>
                        </div>
                        <div class="mb-3">
                            <label for="metodoPago">Método de Pago</label>
                            <select class="form-select" id="metodoPago" name="metodoPago" required>
                                <option value="">Selecciona...</option>
                                <option value="Pagaré">Pagaré</option>
                                <option value="Contado">Contado</option>
                            </select>
                            <div class="invalid-feedback">Por favor selecciona el método de pago.</div>
                        </div>
                    </div>
                </div>
                <div class="btns-section" style="display: flex; justify-content: space-between;">
                    <div class="boton-modal" style="text-align: left;">
                        <button type="button" id="btnRegresar" class="btn btnRegresar"
                            style="background-color: rgb(236, 89, 63); border-radius: 10px; color: white;">Regresar</button>
                    </div>
                    <div class="boton-modal" style="text-align: right;">
                        <button type="submit" id="realizarPago" class="btn realizarPago"
                            style="background-color: rgb(26, 48, 124); border-radius: 10px; color: white;">Pagar</button>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <div th:replace="~{plantillas/popups :: popups}"></div>

    <!-- Modal para datos inválidos -->
    <div id="datosInvalidos" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>DATOS INVÁLIDOS</h2>
            <p>Por favor, revise que todos los campos se encuentren con la información correspondiente, igualmente
                recuerde no dejar espacios en blanco</p>
            <div class="btn-cerrar" style="text-align: right;">
                <button id="cerrarModal">Revisar Datos</button>
            </div>
        </div>
    </div>

    <!-- Modal para pago realizado con éxito -->
    <div id="pagoExitosoModal" class="modal" style="display: none;">
        <div class="modal-content">
            <h2>PAGO REALIZADO CON ÉXITO</h2>
            <p>Por favor, revise tu correo registrado en tu perfil, hemos enviado un correo electrónico con la factura
                del pago de la colegiatura.</p>
            <div style="text-align: center;">
                <button id="continuarBtn" class="btn continuarBtn">Continuar</button>
            </div>
        </div>
    </div>

    <section th:fragment="estadoCuenta" id="estadoCuenta" style="background-color: rgb(217, 217, 217);
                 width: 1000px;
                 height: auto;
                 border: 3px solid rgb(217, 217, 217);
                 border-radius: 22px;
                 padding: 20px;
                 margin: auto;
                 display: none;
                 flex-direction: column;">
        <div class="container">
            <div style="display: flex; align-items: center;">
                <img th:src="${estudiante.fotoPerfil}" alt="Foto de perfil" style="width: 64px; height: 64px; border-radius: 50%; margin: 10px" />
                <h2 th:text="${estudiante.nombre} + ' ' + ${estudiante.apellidos}"></h2>
            </div>
            <div style="margin-bottom: 20px; border: 3px solid #b4b4b4; border-radius: 10px; padding: 10px;">
                <div>Próximo pago a realizar</div>
                <div style="padding-left: 20px;">$120,000.00</div>
            </div>
            <div style="margin-bottom: 20px; border: 3px solid #b4b4b4; border-radius: 10px; padding: 10px;">
                <div>Últimos pagos realizados</div>
                <div style="padding-left: 20px;">$120,000.00</div>
                <div style="padding-left: 20px;">$120,000.00</div>
                <div style="padding-left: 20px;">$130,000.00</div>
            </div>
        </div>
    </section>
    <footer th:replace="~{plantillas/footer_header :: footer}" />

    <script>
        // Ocultar la sección de Estado de Cuenta al cargar la página
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById("estadoCuenta").style.display = "none";
        });

        // Contenedor del formulario
        var formularioContainer = document.getElementById("formulario");

        // Función para mostrar el formulario
        document.getElementById("pagoColegiatura").onclick = function () {
            document.getElementById("zonaPagos").style.display = "none";
            formularioContainer.style.display = "block";
            document.getElementById("estadoCuenta").style.display = "none";
        };

        // Función para regresar a Zona de Pagos
        document.getElementById("btnRegresar").onclick = function () {
            document.getElementById("zonaPagos").style.display = "block";
            formularioContainer.style.display = "none";
            document.getElementById("estadoCuenta").style.display = "none";
        };

        var modal = document.getElementById("datosInvalidos");
        var btn = document.getElementById("realizarPago");
        var span = document.getElementsByClassName("close")[0];
        var btnCerrarModal = document.getElementById("cerrarModal");

        btn.onclick = function () {
            var camposVacios = false;
            var campos = document.querySelectorAll('.form-control');
            campos.forEach(function (campo) {
                if (campo.value.trim() === '') {
                    camposVacios = true;
                    return;
                }
            });

            if (camposVacios) {
                modal.style.display = "block";
            } else {
                // falta
                document.getElementById("pagoExitosoModal").style.display = "block";
            }
        }

        span.onclick = function () {
            modal.style.display = "none";
        }

        btnCerrarModal.onclick = function () {
            modal.style.display = "none";
        }

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        document.getElementById("continuarBtn").onclick = function () {
            document.getElementById("pagoExitosoModal").style.display = "none";
            document.getElementById("zonaPagos").style.display = "block";
            formularioContainer.style.display = "none";
            document.getElementById("estadoCuenta").style.display = "none";
        };

        // Función para mostrar el estado de cuenta
        document.getElementById("verEstadoCuenta").onclick = function () {
            document.getElementById("zonaPagos").style.display = "none";
            formularioContainer.style.display = "none";
            document.getElementById("estadoCuenta").style.display = "block";
        };
    </script>

</body>

</html>